body {
    background-color: black;
    margin: 0 5% 5% 5%;
}

.section {
    height: 100vh;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: Lato;
}

h1 {
    font-size: 20vw;
    color:rgb(22, 22, 22);
    margin: 0 0 1% 0;
}

h2 {
    font-size: 17vw;
    color:rgb(22, 22, 22);
    margin: 0;
}

h5 {
    font-size: 5vw;
    color: white;
    margin: 0;
}

#title {
    border: solid white 1px;
    margin: 5% 0 5% 0;
    display: flex;
}

#title-author {
    border: solid white 1px;
    margin: 5% 0 5% 0;
    display: flex;
}

#description {
    border: solid white 1px;
    margin: 5% 0 5% 0;
    display: flex;
}

#page-title-row-1 { 
    justify-content: space-between;
    padding-top: 5%;
    margin: 1%
}

#page-title-row-1:hover {
    justify-content: space-between;
    padding-top: 5%;
    margin: 1%;
    color: white;
    text-shadow:    0 0 10px white,
                    0 0 20px white,
                    0 0 40px white,
                    0 0 80px white,
                    0 0 120px white,
                    0 0 160px white;
}

#page-title-row-2 {
    justify-content: space-between;   
    padding-top: 5%; 
    margin: 1%;
}

#page-title-row-2:hover {
    justify-content: space-between;
    padding-top: 5%;
    margin: 1%;
    color: white;
    text-shadow:    0 0 10px white,
                    0 0 20px white,
                    0 0 40px white,
                    0 0 80px white,
                    0 0 120px white,
                    0 0 160px white;
}

#page-title-row-3 {
    margin: 1%
}

#page-title-row-3:hover {
    margin: 1%;
    color: white;
    text-shadow:    0 0 10px white,
                    0 0 20px white,
                    0 0 40px white,
                    0 0 80px white,
                    0 0 120px white,
                    0 0 160px white;
}

.title-row {
    display: flex;
}

.subtitle-row {
    display: flex;
}